{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}

{% for trip in queryset %}
    <div class="trip-div row justify-content-center">
        <a href="{% url 'tripdetail' trip.pk %}" class="trip-link">
            <h3>{{ trip.name }}</h3>
        </a>
        <div class="col-12 col-lg-6">
            <h4>{{ trip.planner.firstname }} {{ trip.planner.lastname }}</h4>
            <div class="image-div">
                {% if trip.trip_photo.url == "" %}
                    <img class="trip-image" src="{% static 'images/nobody.jpg' %}"
                        alt="placeholder image">
                {% else %}
                    {% cloudinary trip.trip_photo.name width=250 height=250 %}
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-6 info-div">
            {% if trip.get_accomm_type_display|length > 0 %}
                <div class="trip-accomm_type-div row">
                    <div class="col-6">
                        <strong>Accommodation</strong>
                    </div>
                    <div class="col-6">
                        {{ trip.get_accomm_type_display }}
                    </div>
                </div>
            {% endif %}
            {% if trip.get_region_display|length > 0 %}
                <div class="trip-region-div row">
                    <div class="col-6">
                        <strong>Region</strong>
                    </div>
                    <div class="col-6">
                        {{ trip.get_region_display }}
                    </div>
                </div>
            {% endif %}
            {% if trip.interests|length > 0 %}
                <div class="trip-interests-div row">
                    <div class="col-6">
                        <strong>Interests</strong>
                    </div>
                    <div class="col-6">
                        {{ trip.interests }}
                    </div>
                </div>
            {% endif %}
            <div class="follow row">
                <p id="followers_{{ trip.id }}">
                    {% if trip.followers.count == 0 %}
                    <strong> Be the first to follow this trip! </strong>    
                    {% else %}
                        <strong>{{ trip.followers.count }} Following: </strong>{% for follower in trip.followers.all %}
                            {{ follower.username }} 
                        {% endfor %} 
                    {% endif %}
                </p>
                {% if user.is_authenticated %}
                    {% if trip.planner.user != user %}
                        <form action="{% url 'follow_trip' trip.pk %}" method="POST">
                            {% csrf_token %}
                            <!-- TODO: need to implement something to reflect whether user is attending -->
                            <button type="submit" name="trip_id" value="{{ trip.id }}" class="button float-center btn-follow">Follow</button>
                            <!-- May need to be in the form of a line of text under the button including *You* if attending -->
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}

{% block scripts %}
<!-- Script to adapt follow button display -->
<script src="{% static 'js/followButtonUpdate.js' %}"></script>
{% endblock %}