{% extends "base.html" %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}

{% block content %}

<section class="trip-section row">
    <div class="col-12 col-lg-4">
        <h3>{{ trip.name }}</h3>
        <h4>{{ trip.planner.firstname }} {{ trip.planner.lastname }}</h4>
        <div class="trip">
            {% if trip.trip_photo.url == "" %}
                <img class="trip-image" src="{% static 'images/nobody.jpg' %}"
                    alt="placeholder image">
            {% else %}
                {% cloudinary trip.trip_photo.name width=250 height=250 %}
            {% endif %}
        </div>
        {% if trip.get_accomm_type_display|length > 0 %}
            <br>
            <p>Staying in a {{ trip.get_accomm_type_display }}</p>
        {% endif %}
        {% if trip.get_region_display|length > 0 %}
            <br>
            <p>Region: {{ trip.get_region_display }}</p>
        {% endif %}
        {% if trip.interests|length > 0 %}
            <br>
            <p>This trip involves {{ trip.interests }}</p>
        {% endif %}
        <br>
        <p>Setting off on {{ trip.startDate }} and returning {{ trip.endDate }}</p>
        <p>{{ trip.itinerary }}</p>
        {% if trip.followers.count == 0 %}
            <p><strong>Be the first to follow this trip!</strong></p>    
        {% else %}
            <p><strong>{{ trip.followers.count }} Following: </strong>{% for follower in trip.followers.all %}
                {{ follower.username }} 
            {% endfor %}
            </p>
        {% endif %}
        <form action="{% url 'follow_trip' trip.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="trip_id" value="{{ trip.id }}" class="button float-end">
                {% if user_following %}
                Following
                {% else %}
                Follow
                {% endif %}
            </button>
        </form>
        <!-- Edit trip functionality -->
        {% if trip.planner.user == user %}
        <form action="{% url 'edit_trip' trip.pk %}" method="GET">
            {% csrf_token %}
            <button type="submit" name="trip_id" value="{{ trip.id }}" class="button float-end">
                Edit Trip
            </button>
        </form>
        {% endif %}
    </div>
    <!-- Displaying Trip Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
          <!-- We want a for loop inside the empty control tags
            to iterate through each comment in comments -->
          {% for comment in tripcomments %}
          <div class="p-2 comments
            {% if not comment.approved and comment.author == user %}
            faded{% elif not comment.approved %} d-none{% endif %}">
            <p class="font-weight-bold">
              {{ comment.author }}
              <span class="font-weight-normal">
                {{ comment.created_on }}
              </span> wrote:
            </p>
            <div id="comment{{ comment.id }}">
              {{ comment.body | linebreaks }}
            </div>
            <!-- Approval conditionality will go here -->
            {% if user.is_authenticated and comment.author == user %}
            <button class="btn btn-edit"
              comment_id="{{ comment.id }}">Edit</button>
            <button class="btn btn-delete"
              comment_id="{{ comment.id }}">Delete</button>
           {% endif %}
          </div>
          <!-- Our for loop ends here -->
          {% endfor %}
        </div>
      </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="tripcommentForm" method="post"
            style="margin-top: 1.3em;">
            {{ tripcomment_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit"
                class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
  </div>
  <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title"
            id="deleteModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close"
            data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Are you sure you want to delete your comment?
        This action cannot be undone.
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
            data-bs-dismiss="modal">Close</button>
        <a id="deleteConfirm" href="#" class="btn
            btn-danger">Delete</a>
        </div>
    </div>
    </div>

</section>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/tripcomments.js' %}"></script>
{% endblock scripts%}