main {
    background-color: #98838F;
    background-size: cover;
}

h1, 
h2,
h3,
h4,
h5 {
    text-align: center;
}


a {
    color: #89A6FB;
}

.content-container {
    /* From https://css.glass */
    /* background: rgba(221, 213, 213, 0.65); */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(221, 213, 213, 0.22);

    margin: auto;
    color: #78C3FB;
}

.background{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100vw;
    /* background-color: #348267; */
}

.home-background{
    /* background-image: url('https://www.serre-chevalier.com/sites/default/files/styles/1920_720/public/2022-03/thibaut-blais-serre-chevalier-vtt-5.jpg?itok=A8dOpupi');
     */
    background-image: url('/static/images/IMG_1710764159910.jpg');
}

/* Add home content class w/padding to centre vertically */

.triplist-background{
    /* background-image: url('/static/images/IMG_1710763753208.jpg'); */
}

.travellerlist-background p {
    text-align: center;
}

.image-div,
.tripinfo-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.follow {
    align-self: center;
}

.follow form {
    margin-left: auto;
    margin-right: auto;
}

.trip-div {

}