/* General Styling */

body {
    background-color: #98838F;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    margin-top: 56px;
}

h1, 
h2,
h3,
h4,
h5 {
    text-align: center;
}

a {
    color: #89A6FB;
}

/* Navbar */
.navbar {
    overflow: hidden;
    /* background-color: #333; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

/* Content */

/* General purpose container for all pages */
.content-container {
    /* From https://css.glass */
    /* background: rgba(221, 213, 213, 0.65); */
    background: rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(221, 213, 213, 0.22);

    margin: auto;
    color: #78C3FB;
}

/* Page-specific background classes */
.home-background{
    /* background-image: url('https://www.serre-chevalier.com/sites/default/files/styles/1920_720/public/2022-03/thibaut-blais-serre-chevalier-vtt-5.jpg?itok=A8dOpupi');
     */
    background-image: url('/static/images/IMG_1710764159910.jpg');
}

/* Add home content class w/padding to centre vertically */

.triplist-background{
    /* empty */
}

.travellerlist-background p {
    text-align: center;
}

.traveller-div {
    /* empty */
}

.travellerlistitem {
    border: 1px solid black;
}

.image-div,
.info-div {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}

.info-div h5 {
    align-self: top;
}

.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.follow {
    align-self: center;
}

.follow form {
    margin-left: auto;
    margin-right: auto;
}

.trip-div {
    /* Style the appearance of each trip in triplist here */

}

.signup button {
    margin-left: 40%;
    margin-right: 40%;
}
/* Trip & Traveller list pages */
.profile-image,
.trip-image {
    height: 35vw;
}

.travellerlistitem-image {
    height: 25vw;
}

.triplistitem-image {
    height: 50vw;
}

.tripinfo-row p {
    margin: 0;
}

.tripInfoValue-p {
    width: 35%;
}

.tripInfoType-p {
    text-align: right;
}

.tripinfo-row button {
    position: relative;
    left: 43%;
    margin-top: 20px;
}

/* Trip detail */
.tripdetail-content .card {
    background-color: #16e0bd;
}

/* Media Queries */

@media only screen and (min-width: 600px) {
    /* Triplist */
    .triplistitem-image {
        height: 40vw;
    }
}

@media only screen and (min-width: 768px) {
    /* Triplist */
    .commentBox {
        order: 1
    }
}