{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% block content %}

<div class="background travellerlist-background travellerlist-div flex-container content-container">
{% for traveller in queryset %}
    <div class="traveller-div row justify-content-center">
        <div class="col-12 col-lg-4 listContainer">
            <a href="{% url 'travellerprofile' traveller.pk %}" class="trip-link">
                <h3>{{traveller.firstname}} {{traveller.lastname}}</h3>
            </a>
            <div class="image-div">
                {% if traveller.profile_photo.url == "" %}
                    <img class="profile-image" src="{% static 'images/nobody.jpg' %}"
                        alt="placeholder image">
                {% else %}
                    {% cloudinary traveller.profile_photo.name width=250 height=250 %}
                {% endif %}
            </div>
            <p>{{ traveller.bio }}</p>
            {% if traveller.trips_planned.count == 0 %}
                <p>This traveller hasn't planned any trips yet.</p>
            {% else %}
                <h5>Trips Planned:</h5>
                {% for trip in traveller.trips_planned.all %}
                    <a href="{% url 'tripdetail' trip.pk %}" class="trip-link">
                        <p><strong>{{ trip.name }} in {{ trip.region }}</strong></p>
                    </a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>

{% endblock content %}