{% extends "base.html" %}
{% load static %}
{% load cloudinary %}

{% url 'edit_traveller' as edit_traveller_url %}

{% block content %}
<p>Logged in as {{ user }}</p>
<h1>Traveller {{ traveller.firstname }} {{ traveller.lastname}}</h1>
<h2>About</h2>
<p>{{traveller.bio}}</p>
<h2>Photo</h2>
{% cloudinary traveller.profile_photo.name width=250 height=250 %}
<h2>Trips Planned</h2>
{% with tripcount as traveller.trips_planned.all.count %}
{% for trip in trips_planned.all %}
    Trip planned: {{ trip.name }}
{% endfor %}
Trips planned: {{tripcount}}
{% if tripcount == 0 %}
<p><strong>It looks as though you haven't planned any trips yet.</strong></p>
{% else %}
<a href="{% url 'owntriplist' %}">View your trips</a>
{% endif %}
{% endwith %}
<a href="{% url 'edit_traveller' %}"><strong>Edit or Delete Profile</strong></a>
{% endblock content %}